<mat-toolbar class="header-toolbar mat-elevation-z4">
  <!-- <mat-icon class="logo">smart_toy</mat-icon> -->
  <h3>Tennis Bot</h3>

  <span class="spacer"></span>

  <ng-container *ngIf="!isMobileDevice">
    <button mat-button class="nav-item-btn" routerLink="/bookings" routerLinkActive="active-route">
      <h4>BOOKINGS</h4>
    </button>
    <button mat-button class="nav-item-btn" routerLink="/groups" routerLinkActive="active-route">
      <h4>GROUPS</h4>
    </button>
    <button mat-button class="nav-item-btn" routerLink="/add-booking" routerLinkActive="active-route">
      <h4>ADD</h4>
    </button>
  </ng-container>

  <button mat-icon-button class="nav-item-btn">
    <mat-icon>account_circle</mat-icon>
  </button>

</mat-toolbar>
